@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat';
}

.header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) , url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

header li.navkey a{
    color: rgb(249, 249, 249);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0 0.4rem;
    

}


header.header h1.logo{
    color: rgb(124, 150, 159);
    float: left;
    font-size: 2.3rem;
    font-weight: 500;
    background-color: rgb(72, 35, 35);
    padding: 0.7rem;
    
}


.header .navbar ul.nav-items{
    float: right;
    
    
}

.navbar{
    padding: 1rem;
    
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

header .nav-items li.navkey{
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 0.13em;
    padding: 1rem;
    
    
}

ul li{
    list-style: none;
}

/* utility class */

.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}



/* ends here */

header li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(92, 64, 69);
    border-radius: 0.5rem;
    
}
 
/* header contents  starts here*/
/* utility class */
.text-white{
    color: rgb(232, 223, 223);
}

.button{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin: 0.5rem 0;
    padding: 1rem 2.5rem;
}

.button:hover{
    background-color:rgb(213, 207, 207);
}

.btn-secondary:hover{
    background-color: rgb(255, 238, 236);
    
}
/* utility class ends here but not the content */

.header-content{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

header div.header-content h1{
    color: rgb(210, 184, 151);
    text-transform: uppercase;
    
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    
}

header div.header-content p{
    text-transform: uppercase;
    font-size: 1.5rem; 
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
}

.primary-button{
    background-color: rgb(255, 255, 255);
    color: rgb(213, 52, 52);
    font-size: 1.9rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

/* #######SECTION PART#### */

.showcase{
    background-color: rgb(201, 201, 201);
    padding: 10rem 0;
}

.row1{
    height: 350px;
    background-color: white;
    margin-bottom: 10rem;
    box-shadow: 0 0 2rem 0 rgb(109, 105, 105);
}

.row1::after{
    display: block;
    content: '';
    clear: both;
}

.row2{
    height: 350px;
    background-color: white;
    box-shadow: 0 0 2rem 0 rgb(109, 105, 105);
    
}

.row2::after{
    display: block;
    content: '';
    clear: both;
}

.row1 .image-box1, .row2 .image-info2{
    float: left;
    width: 50%;
}

.row2 .image-box2, .row1 .image-info1{
    float: right;
    width: 50%;
}

.image-box1, .image-box2{
    height: 100%;
}

.row1 .image-box1 img, .row2 .image-box2 img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

.info-heading{
    font-weight: 500;
    font-size: 2.3rem;
    padding: 3rem;
    color:rgb(83, 83, 83)
}

.image-info1 p, .image-info2 p{
    font-size: 1.3rem;
    padding: 0 3rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    height: 100%;
    color:rgb(83, 67, 67);
}

section div.container a{
    display: inline-block;
    text-decoration: none;
    border: 0.2rem solid rgb(255, 0, 0);
    background-color: white;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    color: red;
    margin: 3rem 0 0 3rem;
}